.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FF6889;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#footer{
  color: #000000;
  background: #7fd4e6;
}

.footer-linkit{
  list-style-type: none;
}

.footer-linkit a{
  color: #000000;
}

#etusivu{
  margin-top:70px;
}

#navbar-napit{
  margin-right: 20px;
}

#navbar-napit a{
  color: #000000;
}

.navbar{
  border: #7fd4e6;
  background: #7fd4e6;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
